<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571628741266-s9co7bvuukp9798uohs1lkmfdf4tjtdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571628741266-s9co7bvuukp9798uohs1lkmfdf4tjtdj</string>
	<key>API_KEY</key>
	<string>AIzaSyDoX0Y7AXzdsHUH9AYXSitP5p40vohqJwg</string>
	<key>GCM_SENDER_ID</key>
	<string>571628741266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plasmadonationtiu</string>
	<key>PROJECT_ID</key>
	<string>tiufinalprojectplasma</string>
	<key>STORAGE_BUCKET</key>
	<string>tiufinalprojectplasma.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571628741266:ios:c372c72b5a9cb33990fc4b</string>
</dict>
</plist>